/*详情页开始*/
/*上面分类开始*/
.goods_details{
	.felei{
		height:76px;border-bottom:1px solid #ddd;
	}
	.goods{
		padding-top:30px;
		.goods_l{
			width:450px;height:526px;
			#etalage{
				width:405px;height:405px;border:1px solid #ddd;
			}
		}
		.goods_r{
			width:710px;height:526px;
			h2{line-height:36px;font-size:18px;font-weight:bold;}
			.price{
				height:70px;background:#F9F9F9;line-height:70px;
				span:nth-child(1){font-size:14px;}
				.jiaqian{color:#EC595C;font-size:26px;font-weight:bold;margin-left:50px;}
				.jiaqian::before{content:"￥";}
			}
			.peisong{
				height:44px;line-height:44px;
				span:nth-child(1){font-size:14px;}
				#xiala{width:115px;font-size:14px;margin:0 20px 0 60px;}
			}
			.server{
				height:34px;font-size:14px;line-height:34px;
				span{margin-right:65px;}
			}
			.zf_methods{
				height:80px;font-size:12px;line-height:70px;
				span{margin-left:92px;}
			}
			.buynum{
				height:30px;font-size:14px;line-height:30px;
				div{
					margin:0 10px 0 35px;
					input{width:60px;height:30px;border:1px solid #ddd;margin-top:-3px;text-align:center;}
					.numSub,.numAdd{background:#ddd;padding:0 10px;}
					.numSub:hover,.numAdd:hover{cursor:pointer;}
				}	
			}
			.buy{
				height:48px;margin-top:20px;padding-left:80px;
				button{padding:0 46px;line-height:50px;margin-left:10px;border-radius:3px;font-size:20px;font-weight:bold;border:1px solid #EC595C;}
				.nowBuy{background:#FFF8F9;color:#EC595C;}
				.addCar{background:#EC595C;}
				.nowBuy:hover{background:#FFF;}
				.addCar:hover{background:rgba(236,89,92,.8);}
			}
			.discuss{
				line-height:64px;padding-left:87px;font-size:14px;
				span:nth-child(2n){margin-right:30px;}
				a{color:#00f;}
			}
		}
	}
	.fenxiang{
		height:48px;line-height:38px;font-size:14px;padding-left:10px;
		.bh{margin-left:250px;}
	}
	.goods_tuijian{
		.goods_tuijian_top{
			h3{line-height:46px;font-size:18px;font-weight:bold;}
			.yeshu{color:#f00;}
		}
		.goods_list{
			height:300px;overflow:hidden;position:relative;
			ul{
				width:2410px;height:300px;position:absolute;left:-1205px;top:0;
				li{
					float:left;width:225px;height:300px;margin-right:16px;border:1px solid #ddd;
					img{width:100%;}
					h4{font-size:14px;margin-left:20px;}
					.price{color:#E52648;margin-left:20px;}
					.price::before{content:"￥";color:#E52648;}
				}
				li:last-child{margin-right:0;}
			}
		}
	}
	.goods_bottom{
		margin-top:40px;
		.goods_bottom_l{
			width:210px;border:1px solid #ddd;
			.allBuy{
				h2{line-height:40px;background:#ddd;text-align:center;border-bottom:1px solid #ddd;}
				ul{
					margin-top:30px;padding-left:13px;
					li{
						width:184px;height:290px;border-bottom:1px solid #ddd;
						img{width:100%;}
						h4{font-size:12px;margin-top:20px;}
						.price{color:#E52648;margin-top:20px;}
						.price::before{content:"￥";color:#E52648;}
					}
				}
			}
		}
		.goods_misoshu{
			width:955px;border:1px solid #ddd;
			.product_data{
				height:56px;background:#ddd;font-size:14px;
				ul{
					li{float:left;line-height:56px;padding:0 46px;border-right:1px solid #ccc;}
					li:hover{background:#fff;color:#E52648;cursor:pointer;}
				}
				.phoneBy{
					line-height:56px;padding-right:30px;
				}
			}
			.product_pic{
				padding-left:100px;
			}
		}
	}
}
/*上面分类结束*/
/*详情页结束*/
