.all{
    min-width:1200px;
    _width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1002?"1200px":"");
}

/*main开始*/
#main{
	.search{
		height:55px;padding:0 10px;line-height:55px;border-bottom:2px solid #444;
		.search_c{
			width:160px;height:24px;border:1px solid #ddd;margin:17px 0 0 20px;
			input{width:100%;height:100%;float:left;padding:0 30px 0 10px;background:url(../css/img/fdj.png) no-repeat right center;}
		}
		.search_r span{color:#f00;}
	}
	.fenlei{
		.pinpai{
			min-height:130px;border-bottom:1px solid #ddd;overflow:hidden;
			.pinpai_l{
				width:130px;min-height:130px;background:#eee;position:relative;
				span{position:absolute;right:10px;top:10px;}
			}
			.pinpai_c{
				width:950px;height:130px;
				li{
					float:left;padding:8px 0 0 5px;
					a{
						display:inline-block;width:108px;height:48px;border:1px solid #ddd;margin:2px;
						img{width:100%;height:100%;}
					}
				}
			}
			.pinpai_r{
				padding-top:10px;
				min-height:130px;font-size:14px;
				.open{padding:0 20px 0 10px;background:url(../css/img/arror_bottom.png) no-repeat right 9px;}
			}
		}
		.wutang{
			border-bottom:1px solid #ddd;
			.wutang_l{
				width:130px;height:30px;background:#eee;position:relative;
				span{position:absolute;right:10px;text-align:right;line-height:30px;}
			}
			.wutang_r{
				width:1060px;height:30px;
				li{
					float:left;line-height:30px;margin:0 15px;font-size:14px;
				}
			}
		}
	}
	.sequence{
		margin-top:20px;background:#eee;
		.sequence_l{
			width:340px;height:36px;
			li{
				float:left;position:relative;
				a{display:inline-block;line-height:36px;padding:0 20px 0 15px;font-size:12px;background:#eee;border:1px solid #bbb;}
			}
			li:nth-child(2) i,li:nth-child(4) i{display:block;width:7px;height:34px;background:url(../css/img/sequence_1.png) no-repeat;position:absolute;right:8px;top:16px;}
			li:nth-child(3) i{display:block;width:7px;height:34px;background:url(../css/img/sequence_2.png) no-repeat;position:absolute;right:8px;top:14px;}
		}
		.sequence_c{
			width:165px;height:38px;padding:3px 4px;border:1px solid #bbb;font-size:12px;
			input{width:69px;height:30px;border:1px solid #ddd;padding-left:10px;}
		}
		.sequence_r{
			height:36px;line-height:36px;border:1px solid #bbb;padding:0 15px;
			.currentPage{margin-right:20px;}
			.page_No{
				a{display:inline-block;width:30px;height:30px;line-height:30px;background:#ddd;text-align:center;border:1px solid #bbb;}
			}
		}
	}
	.list_goodslist{
		margin-top:20px;height:1600px;
		ul{
			//overflow:hidden;
			li{
				float:left;width:228px;height:388px;border:1px solid #ddd;margin-right:12px;margin-bottom:12px;padding:10px;position:relative;
				.price{color:#E52648;font-size:18px;margin-top:10px;}
				.price::before{content:"￥";}
				h3{margin-top:10px;font-size:14px;}
				button{width:200px;height:34px;background:#fff;line-height:34px;font-size:18px;color:#E52648;border:1px solid #E52648;position:absolute;bottom:20px;}
				button:hover{background:#E52648;color:#fff;}
			}
			li:nth-child(5n+5){margin-right:0;}
			li:hover{border:1px solid #E52648;}
		}
	}
	.pageShow{
		width:210px;height:88px;margin:0 auto;padding-top:60px;
		span{padding:3px 8px;background:#ddd;border:1px solid #bbb;text-align:center;margin-right:10px}
		span.active{background:#E52648;color:#fff;}
	}
}
/*main结束*/