/*购物车开始*/
#cart{
	margin-bottom:30px;
	h2{font-size:24px;line-height:60px;border-bottom:1px solid #ddd;}
	.cart_title{
		position:relative;border-bottom:1px solid #ddd;
		h3{width:85px;font-size:20px;line-height:50px;border-bottom:2px solid #E52648;}
		span{position:absolute;left:95px;top:2px;line-height:50px;}
	}
	.cart_head{
		height:52px;border-bottom:1px solid #ddd;
		div{line-height:52px;padding-right:100px;}
		.allCheck{
			#check_box1{line-height:52px;}
		}
		.xinxi{padding-right:350px;}
	}
	.cart_list{
		min-height:100px;border-bottom:1px solid #ddd;
	}
	.cart_pay{
		line-height:50px;border-bottom:1px solid #ddd;
		.allck{
			height:50px;line-height:50px;padding-right:20px;
		}
		.delete_goods{
			padding-right:350px;
		}
		button{
			width:100px;margin-left:20px;line-height:54px;background:#E52648;
		}
	}
}
/*购物车结束*/