/*header开始*/
#header .tools {
  line-height: 30px;
  background: #F7F7F7;
}

#header .tools .bl_name {
  width: 186px;
  height: 30px;
  padding: 0 12px 0 18px;
  background: url(../css/img/bl_logo_m.png) 2px center no-repeat;
}

#header .tools .bl_name .txt {
  font-size: 12px;
}

#header .tools a {
  font-size: 14px;
}

#header .tools .divshow {
  position: absolute;
  left: 0px;
  top: 31px;
  padding: 5px;
  border: 1px solid #ddd;
}

#header .tools .tools_left .div_left {
  position: relative;
}

#header .tools .tools_left .div_left > a {
  position: relative;
  display: inline-block;
  width: 78px;
  padding: 0 12px 0 8px;
}

#header .tools .tools_left .div_left > i {
  display: inline-block;
  width: 7px;
  height: 4px;
  background: url(../css/img/tools1200_sprite.png) 0 -40px;
  position: absolute;
  right: 4px;
  top: 14px;
  z-index: 1000;
}

#header .tools .tools_left .div_left .dh {
  width: 210px;
  display: none;
}

#header .tools .tools_left .div_left .dh dd {
  float: left;
  margin-right: 20px;
}

#header .tools .tools_left .div_left .tool_info {
  margin-left: 10px;
}

#header .tools .tools_left .div_left:hover .divshow {
  display: block;
  background: #fff;
  border-top: none;
}

#header .tools .tools_left .div_left:hover {
  background: #fff;
  border-top: none;
  border-bottom: none;
  z-index: 1000;
}

#header .tools .tools_left .div_left:hover i {
  transition: 0.5s;
  transform: rotate(180deg);
}

#header .tools .tools_right {
  width: 600px;
  height: 30px;
}

#header .tools .tools_right li {
  line-height: 30px;
  float: left;
  position: relative;
}

#header .tools .tools_right li a span {
  padding: 0 10px;
  border-right: 1px solid #ddd;
}

#header .tools .tools_right li a .login {
  border: 0 none;
}

#header .tools .tools_right li i {
  display: inline-block;
  width: 7px;
  height: 4px;
  background: url(../css/img/tools1200_sprite.png) 0 -40px;
  position: absolute;
  right: 2px;
  top: 13px;
}

#header .tools .tools_right li .mybl {
  display: none;
  width: 77px;
}

#header .tools .tools_right li .chongzhi {
  display: none;
  left: -300px;
  width: 600px;
}

#header .tools .tools_right li .chongzhi dl dd {
  width: 98px;
  float: left;
}

#header .tools .tools_right li .kefu {
  display: none;
  width: 77px;
}

#header .tools .tools_right li .zhangshang {
  display: none;
}

#header .tools .tools_right .div_tools:hover .divshow {
  display: block;
  background: #fff;
  border-top: none;
}

#header .tools .tools_right .div_tools:hover {
  background: #fff;
  z-index: 1000;
}

#header .tools .tools_right .div_tools:hover i {
  transition: 0.5s;
  transform: rotate(180deg);
}

#header .tools .tools_right li:first-child {
  position: relative;
}

#header .tools .tools_right li:first-child i {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../css/img/tools1200_sprite.png) no-repeat 0 -15px;
  position: absolute;
  left: -8px;
  top: 9px;
}

#header .header_c {
  height: 98px;
  padding-top: 19px;
}

#header .header_c h1 {
  width: 190px;
  height: 60px;
  background: url(../img/logo.png) no-repeat;
  text-indent: -2000px;
}

#header .header_c .xinren {
  width: 219px;
  height: 60px;
  background: url(../img/xinren.jpg) no-repeat;
}

#header .header_c .search .search_top input {
  width: 428px;
  height: 30px;
  border: 2px solid #FF3D3D;
}

#header .header_c .search .search_top button {
  line-height: 30px;
  padding: 0 10px;
  background: #FF3D3D;
}

#header .header_c .search .search_top button:hover {
  cursor: pointer;
}

#header .header_c .search .search_bottom {
  margin-top: 5px;
  font-size: 12px;
  color: #999;
}

#header .header_c .search .search_bottom a {
  padding-right: 10px;
  border-right: 1px solid #ddd;
}

#header .header_c .zhuanqu {
  padding: 5px 10px;
  margin-left: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#header .header_c .zhuanqu a {
  font-size: 12px;
}

#header .nav {
  height: 35px;
  border-bottom: 2px solid #000;
}

#header .nav .nav_left {
  position: relative;
  width: 190px;
}

#header .nav .nav_left h3 {
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
}

#header .nav .nav_left i {
  display: inline-block;
  width: 14px;
  height: 12px;
  background: url(../css/img/nav1200_sprite.png) 0 -101px;
  position: absolute;
  left: 12px;
  top: 12px;
}

/*#header .nav .nav_left .menu {
  background: #4C4038;
  height: 425px;
}

#header .nav .nav_left .menu > li {
  position: relative;
  padding-left: 42px;
  z-index: 1000;
}

#header .nav .nav_left .menu > li > a {
  font-size: 12px;
  line-height: 30px;
  color: #fff;
}

#header .nav .nav_left .menu > li:hover {
  background: #bbb;
}

#header .nav .nav_left .menu > li:hover > a {
  text-decoration: underline;
}

#header .nav .nav_left .menu > li i {
  position: absolute;
  left: 12px;
  top: 8px;
  display: block;
  width: 16px;
  height: 16px;
}

#header .nav .nav_left .menu > li:nth-child(1) i {
  background: url(../css/img/nav-caidan.png) 0 0;
}

#header .nav .nav_left .menu > li:nth-child(2) i {
  background: url(../css/img/nav-caidan.png) 0 16px;
}

#header .nav .nav_left .menu > li:nth-child(3) i {
  background: url(../css/img/nav-caidan.png) 0 45px;
}

#header .nav .nav_left .menu > li:nth-child(13) i {
  background: url(../css/img/nav-caidan.png) 0 196px;
}*/

#header .nav .nav_right > li {
  float: left;
  padding: 0 18px;
  font-size: 14px;
  line-height: 30px;
  font-weight: bold;
}

#header .nav .nav_right > li:last-child {
  padding-left: 40px;
  position: relative;
}

#header .nav .nav_right > li:last-child > i {
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(../css/img/doulaihua.gif);
  left: 0px;
  top: -4px;
}

/*header结束*/

/*links开始*/
#links {
  height: 230px;
  background: #F3F3F3;
  padding: 24px 0 0 54px;
}

#links .content {
  position: relative;
  width: 220px;
  float: left;
  padding-left: 56px;
}

#links .content dt {
  font-size: 16px;
  line-height: 36px;
}

#links .content dd {
  font-size: 14px;
  color: #ccc;
  line-height: 26px;
}

#links .content i {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  width: 40px;
  height: 40px;
  background: url(../css/img/footer_sprite.png) 0 0;
}

/*links结束*/

/*footer开始*/
#footer {
  height: 135px;
  background: #F3F3F3;
}

#footer .about {
  width: 385px;
  height: 30px;
  margin: 0 auto;
}

#footer .about li {
  float: left;
}

#footer .about li a {
  display: inline-block;
  font-size: 14px;
  padding: 0 10px;
  border-right: 1px solid #555;
}

#footer .gongsi {
  width: 678px;
  height: 24px;
  margin: 0 auto;
}

#footer .gongsi li {
  float: left;
}

#footer .gongsi li span {
  font-size: 12px;
  padding: 0 10px;
  border-right: 1px solid #555;
  color: #555;
}

#footer p {
  line-height: 30px;
  text-align: center;
  font-size: 12px;
}

#footer .wailian {
  width: 550px;
  height: 30px;
  margin: 0 auto;
}

#footer .wailian li {
  float: left;
  padding: 0 15px 0 25px;
  background: url(../css/img/gongan.png) no-repeat 1px 3px;
}

#footer .wailian li a {
  font-size: 12px;
  color: #555;
}

/*footer结束*/

/*sidebar开始*/
.sidebar {
  width: 314px;
  min-height: 150px;
  background: #fff;
  position: fixed;
  right: -264px;
  top: 0;
  z-index: 99999;
}

.sidebar .sidebar_l {
  width: 50px;
  height: 100%;
  background: #444;
}

.sidebar .sidebar_l .buyCar {
  width: 55px;
  height: 176px;
  background: #444;
  position: relative;
  left: -5px;
  top: 80px;
  box-shadow: -2px 2px 2px #555;
  padding: 30px 0 0 5px;
}

.sidebar .sidebar_l .buyCar i {
  display: block;
  width: 24px;
  height: 18px;
  background: url(../css/img/sidebar.png) 0 -365px;
  position: absolute;
  left: 15px;
  top: 24px;
}

.sidebar .sidebar_l .buyCar span, .sidebar .sidebar_l .buyCar b {
  position: absolute;
  left: 18px;
  top: 58px;
  color: #fff;
}

.sidebar .sidebar_l .buyCar b {
  left: 16px;
  top: 130px;
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #E6133C;
  border-radius: 10px;
}

.sidebar .sidebar_l .star, .sidebar .sidebar_l .history, .sidebar .sidebar_l .erweima, .sidebar .sidebar_l .kefu, .sidebar .sidebar_l .dingbu {
  width: 50px;
  height: 50px;
  position: relative;
}

.sidebar .sidebar_l .star i, .sidebar .sidebar_l .history i, .sidebar .sidebar_l .erweima i, .sidebar .sidebar_l .kefu i, .sidebar .sidebar_l .dingbu i {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../css/img/sidebar.png) 0 337px;
  position: absolute;
  left: 6px;
  top: 10px;
}

.sidebar .sidebar_l .star {
  margin-top: 85px;
}

.sidebar .sidebar_l .history i {
  background: url(../css/img/sidebar.png) 0 299px;
}

.sidebar .sidebar_l .erweima {
  margin-top: 100px;
}

.sidebar .sidebar_l .erweima i {
  background: url(../css/img/sidebar.png) 0 177px;
}

.sidebar .sidebar_l .kefu i {
  background: url(../css/img/sidebar.png) 0 138px;
}

.sidebar .sidebar_l .dingbu {
  display: none;
}

.sidebar .sidebar_l .dingbu i {
  background: url(../css/img/sidebar.png) 0 100px;
}

.sidebar.right {
  right: 0;
}

.sidebar .sidebar_r{
  width:264px;
  height:100%;
  position:relative;
}
.sidebar .tit{
  height:50px;
  background:#ddd;
  text-align:center;
  font-size:20px;
  line-height: 50px;
}
.sidebar .goodsList{
  height:600px;
  padding:6px;
  overflow-x:auto;
}
.sidebar .goodsList li{
  width:240px;
  height:300px;
  border:1px solid #ddd;
  margin-bottom:10px;
  font-size:14px;
  line-height:20px;
  color:#E52648;
  position:relative;
}
.sidebar .goodsList li img{
  width:100%;
}
.sidebar .goodsList li .price{
  width:30%;
}
.sidebar .goodsList li .price::before{
  content:"￥";
}
.sidebar .goodsList li .goodsNumber{
  position:absolute;
  left:80px;
  bottom:0;
}
.sidebar .goodsList li .btnDelete{
  position:absolute;
  right:10px;
  bottom:5px;
  padding:0 5px;
}
.sidebar .btnDelete:hover{
  background:#E52648;
  color:#fff;
}
.sidebar .account{
  position:absolute;
  left:0;
  bottom:0;
  width:264px;
  height:100px;
  background:#ddd;
  padding-left:20px;
}
.sidebar .account .gongji{
  height:30px;
  line-height:30px;
}
.sidebar .account .gongji .goodsNum{
  color:#E52648;
}
.sidebar .account .gongji .total_money{
  font-size:18px;
  color:#E52648;
}
.sidebar .account .gongji .total_money::before{
  content:"￥";
}
.sidebar .account .go_Car{
  display:block;
  margin-top:10px;
  height:40px;
  line-height:40px;
  padding:0 70px;
  background:#E52648;
  color:#fff;
}
/*sidebar结束*/