@charset "UTF-8";
/*购物车开始*/
#cart {
  margin-bottom: 30px;
}

#cart h2 {
  font-size: 24px;
  line-height: 60px;
  border-bottom: 1px solid #ddd;
}

#cart .cart_title {
  position: relative;
  border-bottom: 1px solid #ddd;
}

#cart .cart_title h3 {
  width: 85px;
  font-size: 20px;
  line-height: 50px;
  border-bottom: 2px solid #E52648;
}

#cart .cart_title span {
  position: absolute;
  left: 95px;
  top: 2px;
  line-height: 50px;
  color: #E52648;
  font-size: 20px;
  font-weight: bold;
}

#cart .cart_head {
  height: 52px;
  border-bottom: 1px solid #ddd;
}

#cart .cart_head div {
  line-height: 52px;
  padding-right: 100px;
}

#cart .cart_head .allCheck {
  line-height: 52px;
}

#cart .cart_head .xinxi {
  padding-right: 350px;
}

#cart .cart_list {
  min-height: 200px;
  border-bottom: 1px solid #ddd;
}

#cart .cart_list ul {
  padding: 10px 0;
}

#cart .cart_list ul li {
  height: 108px;
  padding: 4px 0;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
}

#cart .cart_list ul li .checked {
  margin: 40px 10px 0 0;
}

#cart .cart_list ul li img {
  height: 100px;
  margin-right: 10px;
  border: 1px solid #eee;
}

#cart .cart_list ul li h4 {
  width: 380px;
  margin-top: 10px;
  line-height: 30px;
}

#cart .cart_list ul li .price {
  width: 160px;
  text-align: center;
  line-height: 100px;
}

#cart .cart_list ul li .price::before {
  content: "￥";
}

#cart .cart_list ul li .shuliang {
  width: 200px;
  height: 100px;
  line-height: 100px;
  padding-left: 60px;
}

#cart .cart_list ul li .shuliang input {
  width: 40px;
  line-height: 30px;
  border: 1px solid #ddd;
  text-align: center;
}

#cart .cart_list ul li .sum {
  width: 120px;
  line-height: 100px;
  padding-left: 10px;
  margin-right: 75px;
  color: #E52648;
}

#cart .cart_list ul li .sum::before {
  content: "￥";
}

#cart .cart_list ul li .dlt {
  line-height: 100px;
  padding: 3px 10px;
}

#cart .cart_list ul li .dlt:hover {
  background: #E52648;
}

#cart .cart_pay {
  line-height: 50px;
  border-bottom: 1px solid #ddd;
}

#cart .cart_pay .allck {
  height: 50px;
  line-height: 50px;
  padding-right: 20px;
}

#cart .cart_pay .delete_goods {
  padding-right: 350px;
}

#cart .cart_pay .yixuan {
  color: #E52648;
}

#cart .cart_pay .pay .totalAll {
  color: #E52648;
  font-size: 18px;
  font-weight: bold;
}

#cart .cart_pay button {
  width: 100px;
  margin-left: 20px;
  line-height: 54px;
  background: #E52648;
}

/*购物车结束*/
